public/uploads/*

# Ignore bundler config.
/.bundle


log/
tmp/
tmp/cache/

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
