@mixin chat_text_title{
    font-size: 16px;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;

}
@mixin chat_text_time{
    font-size: 10px;
    display:inline-block;
    margin:0;
    height:12px;
}
@mixin chat_text_text{
    margin:0;
    font-size: 14px;
}

@mixin sidebar_bottom_content{
  height:66px;
  width:100%;
  margin-bottom: 40px;
}

@mixin sidebar_bottom_title{
  margin-top:0;
  margin-bottom:5px;
  font-weight:bold;
  font-size: 15px;
}

@mixin sidebar_bottom_text{
    font-size:11px;
    margin:0;
    padding:0;
}

$index_blue_color:#38AEF0;
$index_deep_blue:#253141;

.contents{
  height:100%;
  width:100%;
  padding-top: 0px;
  text-decoration: none;
  .sidebar{
    background: #2f3e51;
    height:calc(100vh);
    width:300px;
    float:left;
    color:#ffffff;
    text-decoration: none;
    .title{
      height:47px;
      width:260px;
      margin:0;
      color:#ffffff;
      font-weight: bold;
      font-size: 16px;
      background: $index_deep_blue;
      padding:35px 20px 0px 20px;
      text-decoration: none;
      &__box{
        margin:0;
        position:relative;
        p{
          margin:0;
          padding:0;
          display: inline-block;
        }
        .edit{
          display:inline-block;
          height:18px;
          width:18px;
          background: $index_deep_blue;
          position: absolute;
          left:220px;
          color:white;
        }
        .cog{
          display:inline-block;
          height:18px;
          width:18px;
          background: $index_deep_blue;
          position: absolute;
          left:240px;
          color:white;
        }  // &__icon{
          //   margin:0;
          // }
          // &--edit{
          //   position: absolute;
          //   left:230px;
          //   display: inline-block;
          // }
          // &--cog{
          //   position: absolute;
          //   left:250px;
          //   display: inline-block;
          // }
        }
      }
    }

    .bottom{
    padding:20px 40px 0px 20px;
      .one{
         @include sidebar_bottom_content;
        .side{
           text-decoration: none;
           text-decoration-style: none;
           color:white;
         }
        &__title{
         @include sidebar_bottom_title;
         text-decoration: none;

        }
        &__text{
         @include sidebar_bottom_text;
         text-decoration: none;
        }
      }
    }

  .chat{
    height:100%;
    width:calc(100vw - 300px);
    float:right;
    background:#fafafa;
    font-family: sans-serif;
    .title{
      height:82px;
      border-bottom: solid 1px #eeeeee;
      display:flex;
      padding-left: 40px;
      padding-right: 40px;
      position: relative;
      .box{
        margin-top: 35px;
        width:300px;
        &__title{
          margin-top:0;
          p{
            font-size:18px;
            margin-bottom: 15px;
            color:#333333;
            height:20px;
          }
          ul{
            padding:0;
            margin:0;
            font-size: 9px;
            color:#999999;
            height:12px;
            list-style: none;

            li{
            display:inline-block;
            list-style: none;
            height:12px;
            }
          }
        }
      }
      .editbtn{
        height:40px;
        border:solid 1px $index_blue_color;
        color:$index_blue_color;
        padding-left:20px;
        padding-right:20px;
        line-height: 40px;
        position:absolute;
        right:40px;
        top:28px;
        text-decoration: none;
      }
    }
    .box1{
      padding:46px 40px 46px 40px;
      margin:0;
      height:calc(100vh - 255px);
      .one{
        padding-bottom: 40px;
        &__title{
          @include chat_text_title;
        }
        &__time{
          @include chat_text_time;
        }
        &__text{
          @include chat_text_text;
        }
      }
    }
    .footer{
       background:#c0c0c0;
       height:80px;
       padding-left: 40px;
       padding-right: 40px;
       display:flex;
       margin:0;
       box-sizing: border-box;
      .form{
        display:flex;
        margin:0;
        padding:0;
        box-sizing: border-box;
        width:100%;
        #new_message{
          height:30px;
        }

        .input{
          width:100%;
          position: relative;
        &--message{
          height:50px;
          width:80%;
          margin:15px 10px 0 10px;
          padding:0;
          line-height: 50px;
         }
        }
          .mask{
              display:inline-block;
              height:30px;
              width:30px;
              position: absolute;
              right:130px;
              bottom:20px;
              color:black;
            }
            .hidden{
              display: none;
            }

            .sendbtn{
            border:solid 1px $index_blue_color;
            width :100px;
            height:50px;
            color:white;
            background: #c0c0c0;
            line-height: 50px;
            text-align: center;
            display:inline-block;
            margin-left: 15px;
            margin-top: 15px;
            position: absolute;
            right:0px;
            bottom:15px;
            color:black;
          }
      }
    }

  }

}
